In [7]:
import pandas as pd
import matplotlib.pyplot as plt
import os
import seaborn as sns 
import numpy as np 
from tqdm import tqdm
import random
import datetime as dt

In [16]:
PATH = '/Users/krc/Desktop/project/system_quality_project/data/'

tre = pd.read_csv(PATH + 'train_err.csv')
tse = pd.read_csv(PATH + 'test_err.csv')

# tre.time = pd.to_datetime(tre.time.astype('str'))
# tre.time 
# tse.head()

In [13]:
def make_date(x):
    x = str(x)
    year = int(x[0:4])
    month = int(x[4:6])
    day = int(x[6:8])
    hour = int(x[8:10])
    minute = int(x[10:12])
    sec = int(x[12:])
    return dt.datetime(year,month,day,hour,minute,sec)
    
# tse['datetime'] = tse.time.apply(make_date)
# tse

,user_id,time,model_nm,fwver,errtype,errcode,datetime
0,30000,20201101030227,model_1,04.16.3553,31,1,2020-11-01 03:02:27
1,30000,20201101030227,model_1,04.16.3553,33,2,2020-11-01 03:02:27
2,30000,20201101030228,model_1,04.16.3553,15,1,2020-11-01 03:02:28
3,30000,20201101030256,model_1,04.16.3553,22,1,2020-11-01 03:02:56
4,30000,20201101030300,model_1,04.16.3553,11,1,2020-11-01 03:03:00
...,...,...,...,...,...,...,...
16532643,44998,20201130210050,model_1,04.16.3553,40,0,2020-11-30 21:00:50
16532644,44998,20201130211831,model_1,04.16.3553,31,1,2020-11-30 21:18:31
16532645,44998,20201130211832,model_1,04.16.3553,15,1,2020-11-30 21:18:32
16532646,44998,20201130212259,model_1,04.16.3553,16,1,2020-11-30 21:22:59
16532647,44998,20201130212316,model_1,04.16.3553,31,0,2020-11-30 21:23:16

In [15]:
# tse.drop(columns='time').to_csv(PATH + 'test_err.csv',index= False)

In [54]:
tp = pd.read_csv(PATH + 'train_problem_data.csv')
tp.time = tp.time.apply(make_date)
p_user = tp.user_id.unique()
# p_user, set(p_user)
np_user = list(set(tre.user_id.unique()) -set(p_user))

In [22]:
tq = pd.read_csv(PATH + 'train_quality_data.csv')

tqq = tq[['time','user_id']].drop_duplicates().reset_index(drop = True)
tqq.time = tqq.time.apply(make_date)
# tqq 시간과 user_id 만 쓰네 ;

/var/folders/t3/j8459bg97zb7x34h0c_jgnlr0000gn/T/ipykernel_4777/3691190635.py:1: DtypeWarning: Columns (10,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  tq = pd.read_csv(PATH + 'train_quality_data.csv')

In [23]:
tqq

                     time  user_id
0     2020-11-29 09:00:00    10000
1     2020-11-30 21:00:00    10000
2     2020-11-04 11:00:00    10002
3     2020-11-06 01:00:00    10002
4     2020-11-11 01:00:00    10002
...                   ...      ...
68947 2020-11-30 20:30:00    24993
68948 2020-11-28 20:20:00    24995
68949 2020-11-29 00:20:00    24995
68950 2020-11-08 23:00:00    24997
68951 2020-11-24 03:30:00    24997

[68952 rows x 2 columns]

In [35]:
# tpd=tp.user_id.value_counts().to_frame().reset_index()
# tpd.columns = ['user_id','count_e'] # columns 명을 이렇게도 바꿀수있구만
# tpd
# 컬러명 가져오기?

def check_unique(col,df1,df2):
    def change_len(x):
        if len(x) == 10:
            return x[:5]
        else:
            return x
    print('about',col)
    if col == 'fwver':
        train_c = set(df1[col].apply(change_len).unique())
        test_c = set(df2[col].apply(change_len).unique())
        print("train only in %s" %col,train_c -test_c)
        print("test only in %s"%col,test_c - train_c)
         # 차집합 개념이구나
        total = (train_c | test_c)
        
    else:
        train_c = set(df1[col].unique())
        test_c = set(df2[col].unique())
        print("train only in %s" %col,train_c -test_c)
        print("test only in %s"%col,test_c - train_c)
         # 차집합 개념이구나
        total = (train_c | test_c)
        # 합집합
        
model_total=check_unique('model_nm',tre,tse)
errtype_total=check_unique('errtype',tre,tse)
fwver_total = check_unique('fwver',tre,tse)

about model_nm
train only in model_nm set()
test only in model_nm set()
about errtype
train only in errtype set()
test only in errtype set()
about fwver
train only in fwver set()
test only in fwver {'10.22'}

In [32]:
%%time
def change_len(x):
        if len(x) == 10:
            return x[:5]
        else:
            return x
set(tre['fwver'].apply(change_len).unique())

CPU times: user 1.98 s, sys: 214 ms, total: 2.19 s
Wall time: 2.21 s

{'03.11',
 '04.16',
 '04.22',
 '04.33',
 '04.73',
 '04.82',
 '05.15',
 '05.66',
 '10',
 '8.5.3'}

In [33]:
%%time
set(tre['fwver'])

CPU times: user 622 ms, sys: 1.83 ms, total: 624 ms
Wall time: 623 ms

{'03.11.1141',
 '03.11.1149',
 '03.11.1167',
 '04.16.2641',
 '04.16.3345',
 '04.16.3439',
 '04.16.3553',
 '04.16.3569',
 '04.16.3571',
 '04.22.1442',
 '04.22.1656',
 '04.22.1666',
 '04.22.1684',
 '04.22.1750',
 '04.22.1778',
 '04.33.1095',
 '04.33.1125',
 '04.33.1149',
 '04.33.1171',
 '04.33.1185',
 '04.33.1261',
 '04.73.2237',
 '04.73.2571',
 '04.82.1684',
 '04.82.1730',
 '04.82.1778',
 '05.15.2090',
 '05.15.2092',
 '05.15.2114',
 '05.15.2120',
 '05.15.2122',
 '05.15.2138',
 '05.15.3104',
 '05.66.3237',
 '05.66.3571',
 '10',
 '8.5.3'}

In [36]:
pd.options.display.max_columns = 50
pd.options.display.max_rows = 200

In [58]:
t1 = tre.loc[tre.errtype==1]
        
t11 = t1.user_id.value_counts().describe().to_frame().T.rename(index ={'user_id':1})
pnumber = len(t1.loc[t1.user_id.isin(p_user)].user_id.unique())
npnumber = len(t1.loc[t1.user_id.isin(np_user)].user_id.unique())

t11['p_counts'] = pnumber
print(round((pnumber/1)*100,2))
t11

24200.0

   count       mean        std  min  25%   50%   75%    max  p_counts
1  950.0  22.645263  18.925383  1.0  2.0  30.0  30.0  171.0       242

In [50]:
len(tre.loc[(tre.errtype==1) & (tre.loc[tre.errtype==1].user_id.isin(p_user))])/1#/1

4014.0

In [59]:
def get_distribution_errtype():
    total = []
    for num in range(1,43):
        if num == 29:
            continue
        t1 = tre.loc[tre.errtype==num]
        
        t11 = t1.user_id.value_counts().describe().to_frame().T.rename(index ={'user_id':num})
        pnumber = len(t1.loc[t1.user_id.isin(p_user)].user_id.unique())
        npnumber = len(t1.loc[t1.user_id.isin(np_user)].user_id.unique())
        
        t11['p_counts'] = pnumber
        t11['npnumber'] = npnumber
        # if pnumber+npnumber == 0:
            # t11['p_ratio'] =  round((pnumber/1)*100,2)
        # else:
        t11['p_ratio'] = round((pnumber/(pnumber+npnumber))*100,2)
        total.append(t11)
    return pd.concat(total).reset_index().rename(columns={'index':'errtype'})

errtype_distribution = get_distribution_errtype()

errtype_distribution

,errtype,count,mean,std,min,25%,50%,75%,max,p_counts,npnumber,p_ratio
0,1,950.0,22.645263,18.925383,1.0,2.0,30.0,30.0,171.0,242,708,25.47
1,2,390.0,66.920513,352.584466,1.0,2.0,2.0,6.0,4056.0,168,222,43.08
2,3,1679.0,18.163788,208.580954,1.0,1.0,2.0,4.0,7239.0,465,1214,27.70
3,4,6881.0,187.761372,2774.102374,1.0,1.0,16.0,151.0,195024.0,2298,4583,33.40
4,5,11010.0,57.246140,163.044126,1.0,3.0,8.0,35.0,4207.0,4028,6982,36.58
5,6,6467.0,7.798516,47.282503,1.0,1.0,2.0,4.0,1796.0,2662,3805,41.16
6,7,7648.0,6.795502,46.745625,1.0,1.0,2.0,4.0,2687.0,3093,4555,40.44
7,8,64.0,2.453125,1.851037,1.0,1.0,2.0,3.0,12.0,13,51,20.31
8,9,63.0,1.730159,2.444258,1.0,1.0,1.0,1.0,17.0,38,25,60.32
9,10,2360.0,29.166102,236.123915,1.0,1.0,2.0,6.0,7311.0,1134,1226,48.05
10,11,14767.0,20.668044,95.277239,1.0,13.0,15.0,16.0,7317.0,4971,9796,33.66
11,12,14799.0,21.545172,96.042676,1.0,14.0,15.0,18.0,7324.0,4974,9825,33.61
12,13,3711.0,3.266774,24.943569,1.0,1.0,1.0,3.0,1111.0,1667,2044,44.92
13,14,7891.0,30.314536,314.507094,1.0,2.0,4.0,8.0,10765.0,3224,4667,40.86
14,15,14545.0,107.426401,67.785539,1.0,64.0,102.0,142.0,1526.0,4978,9567,34.22
15,16,14431.0,86.490333,63.414517,1.0,47.0,78.0,114.0,1530.0,4977,9454,34.49
16,17,5747.0,7.990778,16.532297,1.0,1.0,4.0,11.0,460.0,2498,3249,43.47
17,18,1768.0,1.510747,1.815140,1.0,1.0,1.0,1.0,41.0,1521,247,86.03
18,19,419.0,1.584726,1.720786,1.0,1.0,1.0,2.0,23.0,346,73,82.58
19,20,1546.0,1.345408,1.139906,1.0,1.0,1.0,1.0,23.0,1333,213,86.22
20,21,381.0,1.593176,1.742610,1.0,1.0,1.0,2.0,22.0,316,65,82.94
21,22,10281.0,181.256201,657.517370,1.0,28.0,43.0,88.0,15944.0,3975,6306,38.66
22,23,10046.0,226.558929,968.268174,1.0,10.0,26.0,79.0,26495.0,3920,6126,39.02
23,24,2519.0,15.507741,87.195064,1.0,1.0,2.0,7.0,2866.0,1166,1353,46.29
24,25,420.0,2.819048,5.631960,1.0,1.0,1.0,3.0,78.0,360,60,85.71
25,26,13026.0,40.764471,19.355023,1.0,31.0,39.0,52.0,235.0,4632,8394,35.56
26,27,2267.0,92.691222,779.816197,1.0,1.0,2.0,50.0,26482.0,958,1309,42.26
27,28,2275.0,94.654066,809.567512,1.0,1.0,2.0,48.0,27643.0,959,1316,42.15
28,30,375.0,1.072000,0.288162,1.0,1.0,1.0,1.0,4.0,260,115,69.33
29,31,11091.0,178.977279,392.298912,1.0,103.0,159.0,226.0,37589.0,4153,6938,37.44
30,32,1933.0,584.711330,903.120230,1.0,14.0,160.0,809.0,5637.0,927,1006,47.96
31,33,11074.0,16.098158,10.244832,1.0,13.0,15.0,16.0,183.0,4138,6936,37.37
32,34,3733.0,30.761586,247.943701,1.0,2.0,5.0,13.0,9745.0,1963,1770,52.59
33,35,2039.0,4.984306,24.349229,1.0,1.0,1.0,3.0,828.0,1186,853,58.17
34,36,8435.0,1.104564,0.334516,1.0,1.0,1.0,1.0,6.0,3262,5173,38.67
35,37,8434.0,1.106948,0.343587,1.0,1.0,1.0,1.0,6.0,3259,5175,38.64
36,38,1822.0,2.491218,7.223481,1.0,1.0,1.0,2.0,234.0,927,895,50.88
37,39,766.0,20.651436,54.690716,1.0,2.0,6.0,18.0,965.0,405,361,52.87
38,40,10462.0,69.803384,88.824322,1.0,16.0,43.0,92.0,1695.0,4052,6410,38.73
39,41,6142.0,16.178444,28.109564,1.0,2.0,7.0,22.0,969.0,2596,3546,42.27
40,42,6382.0,5.374021,3.605925,1.0,2.0,5.0,8.0,33.0,2490,3892,39.02

In [63]:
tre[tre.errtype == 29]

Empty DataFrame
Columns: [user_id, time, model_nm, fwver, errtype, errcode]
Index: []

In [68]:
def make(num):
    err =  tre.loc[tre.errtype==num]
    users = err.user_id.unique()
    # users2 = err.user_id.value_counts().to_frame().index
    t2 = err.loc[err.user_id.isin(users)]
    t2['err_'+str(num)] = t2.time.dt.hour
    
    p = t2.loc[t2.user_id.isin(p_user)]
    np = t2.loc[t2.user_id.isin(np_user)]
    
    pdf = p['err_'+str(num)].value_counts().sort_index().to_frame().T.rename(index = {'err_'+str(num):\
                                                                                      'err_p'+str(num)})
    npdf = np['err_'+str(num)].value_counts().sort_index().to_frame().T.rename(index = {'err_'+str(num):\
                                                                                      'err_p'+str(num)})
    f = pd.concat([pdf,npdf])
    f2 = f.copy()
    f = fillna(0)
    
    f = round(f)
    return f, f2
make(1)

950 Int64Index([16478, 10298, 12016, 10463, 14793, 22510, 22016, 11159, 13952,
            20909,
            ...
            20204, 20146, 20138, 13016, 20036, 13082, 19847, 13165, 19746,
            12843],
           dtype='int64', length=950)